* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1 {
    font-size: 86px;
    padding: 50px;
    margin: 0;
    text-align: center;
    
}

#rest {
    width: 100%;
    background-color: #004365;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    cursor: pointer; 
    color: white;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 300px;
    height: 300px;
    background-color: #004365;
    display: flex;
    flex-wrap: wrap;
    
}
.tile {
    width: 100px;
    height: 100px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 48px;
    cursor: pointer;
    
}

